@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
      font-family: Open Sans, sans-serif;
      height: 100%;
      font-weight: 300;
      color: #e5b9a8;
      background-color: #394F8A;
}

/* headings and logo */

h1, h2 {
         font-family: Open Sans, sans-serif;
         text-transform: uppercase;
         font-weight: bolder;
         letter-spacing: 4px;
         line-height: 40px;
         color: #252525; 
}

#logo {
        text-align: center; 
        font-size: 290%;
        padding: 30px;
        color: #9cf6fb;
} 

/* navigation links */

#menu {
        font-size: 110%;
        letter-spacing: 4px;
}

nav {
      width: 100%;
      height: 75px;
      line-height: 75px;
      padding: 0px 0px;
      position: relative;
      z-index: 1;
} 

nav ul {
        float: center;
        display: flex;
}

nav ul li {
            display: inline-block;
            list-style: none;
            color: #373833; 
            background-color: #e5b9a8;
}

nav ul li a {
              padding: 99px;
              text-decoration: none;
}

nav ul li a:hover {
                    color: #4A5FC1;  
}

/* home page image */

#homeimage {
             height: 600px;
             width: 100%;
             background-image: url(../images/homeimage.webp);
}

/* Move h1 heading, and style image to go with Our Story for aesthetics */

#story {
         text-align: center;
}

#girls {
         height: 500px;
         width: 50%;
         padding: 3%; 
}

#ourstoryp {
    padding: 2%;
}



/* location, adding event time and dates */

#googlemap {
    padding: 2%;
    width: 50%;
    max-height: fit-content;
}

#location {
           float: right; 
}

#eventdetails {
                float: right;
}

/* footer */

#footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    background-color: #e5b9a8;
}
.social-networks {
    text-align: center;
}

 .social-networks > li {
     display: inline;

 }

 .social-networks i {
     font-size: 160%;
     margin: 1%;
     padding: 1%;
 }




 /* Our Ethos page styling */

 #whyswap {
            text-align: center;
    
 }

 #environment {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
              }

 #fish { 
        float: right;
        height: 400px;
        width: 30%;
        padding: 1%;
 }

 #money {
         margin-left: auto;
         margin-right: auto;
        width: 50%;
 }

 #moneybank { 
        float: left;
        height: 400px;
        width: 30%;
        padding: 1%; 
 }

 #revitalise {
             display: inline-block;
             vertical-align: top;

 }

 #rail { 
         float: left;
         height: 400px;
         width: 30%;
         padding: 1%; 
 }

 #friends {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
 }

 #twofriends {
    float: left;
    height: 400px;
    width: 30%;
    padding: 1%; 
 }

 .container {
     justify-content: center;
 }
 /* Gallery page styling of images */

 #womanwithcoffee {
                    width: 70%;

 }

 #friendgroup {
                width: 80%; 
 }

 #lookingatclothes {
                      width: 90%;
 }

 #fourgirls {
               width: 60%;
 }

 #colourfulrail {

                width: 60%;

 }

 #photos {
          clear: both;
          line-height: 0;
          column-count: 2;
          column-gap: 0px;
 }

 #photos > img {
     width: 100%;
 }

 /* styling of Event Page */

#models {
          padding: 0px;
          max-width: 100%;
          max-height: 50%;
          justify-content: center;
}

#eventrules {
              float: center;
}
#cover-text {
              float: right;
              padding-left: 2%;
              color: #e5b9a8; 

}

/* COMMMMEEE BACK TO SOLVE ABOVE */