@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto&display=swap');

* 
{
    margin: 0;
    padding: 0;
    border: none;
}

body 
{
    font-family: Open Sans, sans-serif;
    height: 100%;
    font-weight: 300;
    color: #e5b9a8;
    background-color: #394F8A;
}

/* headings and logo */

h1, h2 
{
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 40px;
    color: #ffffff; 
}

#logo 
{
    text-align: center; 
    font-size: 280%;
    padding: 30px;
    color: #ffffff;
    letter-spacing: 15px;
    text-decoration: none;
} 

a:link 
{
    text-decoration: none; 
}
#site-header 
{
    border-bottom: none;
}

/* navigation links */

.nav ul 
{
    list-style: none;
    background-color: #e5b9a8;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li 
{
    display: inline-block;
}

.nav a
{
    text-decoration: none;
    color: #4a5fc1;
    width: 100px; 
    display: block;
    padding: 15px;
    font-size: 22px;
}

a:hover {
   color: blueviolet;
}

/* home page image */

#homeimage 
{
    height: 600px;
    width: 100%;
    background-image: url(../images/homeimage.webp);
    background-repeat: no-repeat;
}

/* Move h1 heading, and style image to go with Our Story for aesthetics */

#story 
{
    text-align: center;
}

#girls 
{
    height: 500px;
    width: 50%;
    padding: 3%; 
}

#ourstoryp 
{
    padding: 2%;
}



/* location, adding event time and dates */

#div1 
{
float: left;
padding: 8px;
}

#div2 
{
    float: left;
    text-align: center;
    padding-left: 250px;
    padding-top: 105px;
    

}

.blacktext
{ 
    color: #252525;
    font-weight: bold;
}

#list {
    list-style-type: none ;
}

/* footer */

#footer 
{
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    background-color: #e5b9a8;
}

.social-networks 
{
    text-align: center;
}

 .social-networks > li 
 {
    display: inline;

 }

 .social-networks i 
 {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
 }

.footer-bottom
{
    background-color: #e5b9a8;
    color: #4a5fc1;
    width: 100vw;
    padding: 0;
    text-align: center;
}

.footer-bottom p
{
    word-spacing: 2px;
}


 /* Our Ethos page styling */

 .description-container 
 {
    max-width: 800px;
    margin: 40px auto 20px;
 }

 .description-container .floating-image 
 {
    max-width: 400px;
 }

 .description-container .floating-image.right 
 {
    float: right;
    margin-left: 30px;
    margin-bottom: 20px;
 }

 .description-container .floating-image.left 
 {
    float:left;
    margin-right: 30px;
    margin-bottom: 10px;

 }

 #money 
 {
     padding-top: 100px;
 }

 #socialise
 {
     padding-top: 100px;
 }

 #revitalise 
 {
     padding-top: 105px;
 }
  
 /* Gallery page styling of images */
    
    #womanwithcoffee 
    {
       width: 70%;
   
    }
   
    #friendgroup 
    {
       width: 80%; 
    }
   
    #lookingatclothes 
    {
       width: 90%;
    }
   
    #fourgirls 
    {
       width: 60%;
    }
   
    #colourfulrail 
    {
   
       width: 60%;
       flex: 1;
   
    }
   
    #photos 
    {
       clear: both;
       line-height: 0;
       column-count: 2;
       column-gap: 0px;
    }

 #photos > img 
 {
    width: 100%;
 }

 /* styling of Event Page */

#models 
{
    width: 50%;
    background-repeat: none;
}

#models2 
{
    float: right;
    width: 50%;
    background-repeat: none;
}

#eventrules 
{
    text-align: center;
    padding-right: 180px;
    padding-left: 0px;
}
#cover-text 
{
    float: right;
    padding: 30px;
    color: #e5b9a8; 

}

/* Sign up Page */

#plantrails 
{
    padding: 5%;
    width: 100%;
    background-repeat: no-repeat;
    
    
}

.signup-form
{
    position: left;
    width: 400px;
    height: 800px;
    padding: 10px;
}

/* Media Queries */

@media screen and  (max-width: 320px) {


    #girls {
        width: 100%;
        height: 300px;
        margin: 0 auto;
    }

    #location {
        position: relative;
        right: 150px;
        margin: 0 auto;
        padding: 0;
    }

    #eventdetails
    {
        position: relative;
        right: 150px;
        margin: 0 auto;
        padding: 0;
    }
#list {
    position: relative;
    right: 150px;
    margin: 0 auto;
    padding: 0;
}

#googlemaps {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

/* Our Ethos */

#yourwardrobe {
    margin-bottom: 100px;
}

}



